.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

body{  
  background-color: #E7E4D4 ;
  font-family: "JetBrains Mono";
  line-height: 5vh; 
  background: url(C:\Users\ritwi\Documents\University\CPSC581\FlashFriends\public\login-bg.png) no-repeat center center; 
  background-size: cover; 
  height: 100vh;
}

h1 {
  font-size: 4vw;
  color: #414141;
  padding-bottom: 5%;
}

.login-user{
  background-color: #8cbc7bda;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  max-width: 60vw;
  height: 70vw;
  margin-top: 47%;
  margin-left: 22%;
}

label{
  font-size: 10px;
}

button{
  justify-content: center;
  font-size: 15px;
  text-align: center;
  background-color: #D08270;
  color: #414141;
  border: none;
  border-radius: 8px;
  height: 4vh;
  width: 20vw;
  font-family: "JetBrains Mono";
  margin-top: 5%;
  
}

input {
  border-radius: 4vw;
  border-color:#8396D9;
  line-height: 3vh;
  max-width: 15vh;
  background-color: #d0827078;
}